<div class="container">
  <section class="mt-5 wow fadeIn">
  <div class="conatiner"> 
   <div class="row">
     <div class="col-md-6 mb-4 text-center" style="max-height:400px;">
       <img src="assets/img/a.gif" class="img-fluid z-depth-1-half rounded" style="max-height:400px;border: 10px solid black;"alt="">
     </div>
     <div class="col-md-6 text-center">
       <h3 class="h3 mb-3"><strong>How UrbanClap Works?</strong></h3>
       <div class="row">
       <h5><p class="font-weight-bold">1. Get verified customer requests</p></h5>
       <p class="font-italic ">Get connected with customers looking for your service.</p><hr>
       </div>
       <div class="row">
       <h5><p class="font-weight-bold">2. Pay to send quotes</p></h5>
       <p class="font-italic ">Pay only to reply to customer leads that match your interests and qualifications.</p><hr>
       </div>
       <div class="row">
       <h5><p class="font-weight-bold">3. Chat and get hired</p></h5>
       <p class="font-italic">Chat with the customers, finalise the quotes and get hired. Know More.</p>
       </div>
      </div>
   </div>
  </div>
 </section>
 </div>