/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

@media (max-width: 740px) {
  .full-page-intro {
    height: 1000px; } }

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.3); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }
  html,
    body,
    header,
    .view {
      height: 100%;
    }

    @media (max-width: 740px) {
      html,
      body,
      header,
      .view {
        height: 1000px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .view {
        height: 650px;
      }
    }
    @media (min-width: 800px) and (max-width: 850px) {
              .navbar:not(.top-nav-collapse) {
                  background: #1C2331!important;
              }
          }

.feature_area {
  background: #04091e;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 651px;
  z-index: 1;
}

.feature_area .overlay {
//   background: url(../img/feature-bg.jpg) no-repeat scroll center center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 125%;
  bottom: 0;
  z-index: -1;
  opacity: .25;
}

.feature_item {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 50px 37px 35px 37px;
  border: 1px solid #6c6d77;
  color: #fff;
}

.feature_item i {
  font-size: 24px;
  margin-bottom: 25px;
  display: inline-block;
}

.feature_item h4 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}

.feature_item p {
  margin-bottom: 0px;
  color: #777777;
}
.p_120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.white_title {
  text-align: center;
  max-width: 690px;
  margin: 0px auto 75px;
}

.white_title h2 {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
}

.white_title p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  color: #777777;
  margin-bottom: 0px;
}
.modal-dialog{
  margin-left: 150px;
}
.modal-dialog video{
  width:1080px;
  height: 640px;

}

.featuredvideo{
  box-shadow: 5px 5px 2px lightgrey;
  width:320px; 
  height:240px;
  background-repeat: no-repeat;
  background-size: cover;

}
.featuredvideo:hover{
  box-shadow: 5px 5px 2px grey;
 
}
div.relative {
    position: relative;
    
} 

div.absolute {
    position: absolute;
    top: 0px;
    right: 0px;
    width: inherit;
    height: inherit;
   
}
.absolute:hover{
  background: rgba(0,0,0,0.5);
}
