<section class="feature_area">
  <div class="container">
      <div class="c_feature_box">
          <div class="row">
              <div class="col-lg-4">
                  <div class="c_box_item">
                      <a href="#"><h4><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>High Quality & Trusted Professionals</h4></a>
                      <p>We provide only verified, background checked and high quality professionals</p>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="c_box_item">
                      <a href="#"><h4><i class="fa fa-clock-o" aria-hidden="true"></i> Matched to Your Needs</h4></a>
                      <p>We match you with the right professionals with the right budget</p>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="c_box_item">
                      <a href="#"><h4><i class="fa fa-diamond" aria-hidden="true"></i> Hassle Free Service Delivery</h4></a>
                      <p>Super convenient, guaranteed service from booking to delivery</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>