<section class="text-center bg-white">
  <div class="container">
    <h2 class="mb-5">Trusted By</h2>
      <div class="row">
       <div class="col-lg-4">
        <a href="">
          <div class="mx-auto mb-5 mb-lg-0 black-text">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-1.jpg" alt="">
          <h5><p class="font-weight-bold">Sajal Kapoor</p></h5><p class="font-italic">Wedding Photographer</p>
          <p class="font-weight-light mb-0 grey-text">"From earning 10K a month to being totally booked from November till February -- My UrbanClap Journey."</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href=""><div class="mx-auto mb-5 mb-lg-0 black-text">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-2.jpg" alt="">
          <h5><p class="font-weight-bold">Natasha Arya</p></h5><p class="font-italic">Make-up Artist</p>
          <p class="font-weight-light mb-0 grey-text">UrbanClap has given me an opportunity to showcase my work through a convenient platform. It’s all One CLICK away.</p>
        </div></a>
      </div>
      <div class="col-lg-4">
        <a href=""><div class="mx-auto mb-5 mb-lg-0 black-text">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-3.jpg" alt="">
          <h5><p class="font-weight-bold">Yasser Raja</p></h5><p class="font-italic">Fitness Trainer</p>
          <p class="font-weight-light mb-0 grey-text">In the past one year UrbanClap has given me business worth Rs. 4.5Lakh+ and has enabled me in quitting my MNC job and follow my passion.</p>
        </div></a>
      </div>
    </div>
  </div>
</section>