<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-1 text-white showcase-img" style="background: url('assets/img/appMock.png');-webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;"></div>
      <div class="col-lg-6 order-lg-2 my-auto showcase-text">
        <h2>Download the App</h2>
        <p class="lead mb-0">Choose and book from 100+ services and track them on the go with the UrbanClap App</p>
        <br><p><b>Send a link via SMS to install the app</b></p>
        <!-- <form> -->
          <div class="form-row row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input type="text" class="form-control form-control-lg" placeholder="Enter your number...">
            </div>
            <div class="col-12 col-md-3">
              <button type="submit" class="btn  btn-lg btn-primary md-btn-outline-info">Text app link</button>
            </div>
          </div>
        <!-- </form> -->

        <div class="row">
          <div class="col mt-5"><img src="assets/img/googlePlay.png"></div>
          <div class="col mt-5"><img src="assets/img/appStore.png"></div>
        </div>
    </div>
   
    
  </div>
  </div>
</section>
