<section class="services">
  <div class="container">
    <h4 class="mb-5 mt-2"> Recommended services</h4>
    <ngu-carousel
      [inputs]="carouselTile"
      (carouselLoad)="carouselTileLoad($event)">

            <ngu-tile NguCarouselItem *ngFor="let Tile of carouselTileItems">
            <div class="carousel-img">
            <img class="img-responsive d-block w-100 rounded mb-3" src="assets/img/services-1.jpg"  alt="">
            <p class="font-weight-bold mb-2">Analytics</p>
            </div>
            </ngu-tile>

          <button mat-mini-fab color="primary" NguCarouselPrev class='leftRs'>&lt;</button>
          <button mat-mini-fab color="primary" NguCarouselNext class='rightRs'>&gt;</button>
    </ngu-carousel>
  </div>
</section>
<section class="services">
  <div class="container">
    <h4 class="mb-5 mt-2"> Recommended services</h4>
    <ngu-carousel
      [inputs]="carouselTile"
      (carouselLoad)="carouselTileLoad($event)">

            <ngu-tile NguCarouselItem *ngFor="let Tile of carouselTileItems">
            <div class="carousel-img">
            <img class="img-responsive d-block w-100 rounded mb-3" src="assets/img/services-1.jpg"  alt="">
            <p class="font-weight-bold mb-2">Analytics</p>
            </div>
            </ngu-tile>

          <button mat-mini-fab color="primary" NguCarouselPrev class='leftRs'>&lt;</button>
          <button mat-mini-fab color="primary" NguCarouselNext class='rightRs'>&gt;</button>
    </ngu-carousel>
  </div>
</section>
<section class="services">
  <div class="container">
    <h4 class="mb-5 mt-2"> Recommended services</h4>
    <ngu-carousel
      [inputs]="carouselTile"
      (carouselLoad)="carouselTileLoad($event)">

            <ngu-tile NguCarouselItem *ngFor="let Tile of carouselTileItems">
            <div class="carousel-img">
            <img class="img-responsive d-block w-100 rounded mb-3" src="assets/img/services-1.jpg"  alt="">
            <p class="font-weight-bold mb-2">Analytics</p>
            </div>
            </ngu-tile>

          <button mat-mini-fab color="primary" NguCarouselPrev class='leftRs'>&lt;</button>
          <button mat-mini-fab color="primary" NguCarouselNext class='rightRs'>&gt;</button>
    </ngu-carousel>
  </div>
</section>
