<section class="call-to-action text-dark text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <!-- <form> -->
          <div class="form-row">
            <div class="col-xl-9 mx-auto">
            <h3 class="mb-4">Are you a professional looking to grow your service business?</h3>
            </div>
            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg md-btn-outline-warning">Join Now!</button>
            </div>
          </div>
        <!-- </form> -->
      </div>
    </div>
  </div>