
      <section class="bg-light pt-5 pb-5">
        <div class="container">
              <div class="card">
                <!--img class="card-img-top" src="img_avatar1.png" alt="Card image"-->
              <div class="row ">
                <div class="col-lg-6">             
                    <div class="card-body">
                      <h4 class="card-title font-weight-bold">Aastha Sharma</h4>
                      <p class="card-text font-italic"> Hired 45 times<br>Bollywood Dance Instructor</p>
                    
                    <p class="lead dark-grey-text font-small">
                         Aastha joined UrbanClap 6 months ago and has been hired more than 45 times till now. She uses the app regularly to get potential clients in Delhi NCR and has managed to successfully establish and grow her business with UrbanClap.
                    </p>

                      <a href="#" class="btn md-btn-outline-info">Visit Profile</a>
                    </div>
                  </div>

              <div class="col-md-6 col-xl-5 mb-4 mt-5">
           
                  <div class="card-body">
                      <h5 class="dark-grey-text text-center">
                        <strong>Take a look at how many customers request for professionals like you</strong>
                      </h5>
                      <hr>
                        <div class="dropdown col-lg-12 text-center">
                          <button type="button" class="btn md-btn-outline-primary btn-md dropdown-toggle" data-toggle="dropdown">
                            Choose Your Service
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                          </div>
                        </div>
                    
                  </div>
             </div>
          </div>           
          </div>
        </div>
      </section>