<section class="testimonials text-center">
  <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-1.jpg" alt="">
          <h5>Sajal Kapoor</h5><p>Wedding Photographer</p>
          <p class="font-weight-light mb-0">"From earning 10K a month to being totally booked from November till February -- My UrbanClap Journey."</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-2.jpg" alt="">
          <h5>Natasha Arya</h5><p>Make-up Artist</p>
          <p class="font-weight-light mb-0">"UrbanClap has given me an opportunity to showcase my work through a convenient platform. It’s all One CLICK away"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-3.jpg" alt="">
          <h5>Yasser Raja</h5><p>Fitness Trainer</p>
          <p class="font-weight-light mb-0">"In the past one year UrbanClap has given me business worth Rs. 4.5Lakh+ and has enabled me in quitting my MNC job and follow my passion."</p>
        </div>
      </div>
    </div>
  </div>
</section>