<section class="counter">
  <div class="container-fluid bg-light">
    <div class="col">
      <div class="container">
        <div class="row text-center" >
          <div class="col mt-5">
            <h1>107</h1>
            <h5> LIVE SERVICES</h5>
          </div>
           <div class="col mt-5">
            <h1>3 million</h1>
            <h5> CUSTOMERS SERVED</h5>
          </div>
           <div class="col mt-5">
            <h1>100,000</h1>
            <h5>VERIFIED EXPERTS</h5>
          </div>
           <div class="col mt-5">
            <h1>4.2</h1>
            <h5>AVERAGE RATING</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>