<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-2"><strong>Your Service Expert in Delhi</strong></h1>
        <!-- <h5 class="mb-3">Get instant access to reliable and affordable services</h5> -->
      </div><br><br>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <!-- <form> -->
          <div class="form-row">
            <div class="col-12 col-md-3">
              <div class="dropdown">
                <button type="button" class=" dropdown-toggle form-control form-control-lg" data-toggle="dropdown">
                 <i class="fa fa-location-arrow "> </i> Delhi 
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Ahemdabad</a>
                  <a class="dropdown-item" href="#">Dehradoon</a>
                  <a class="dropdown-item" href="#">Link 3</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input type="search" class="form-control form-control-lg search
              " placeholder="Search a service..">
            </div>
            
          </div>
        <!-- </form> -->
      </div>
    </div>
  </div>
